<div class="homeComponent">
    <mat-toolbar class="navBar">
        <span class="mainColor">Ghibli Api</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
          <mat-icon class="mainColor" (click)="resetSearch()">restart_alt</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon class="mainColor" (click)="searchFilms()">search</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon class="mainColor" (click)="createFilm()">add_circle</mat-icon>
        </button>
    </mat-toolbar>
    <div class="homeBody">
      <div *ngFor="let film of filteredFilms; let i = index">
        <app-film [film]="film" (filmToDelete)="filmDelete($event)" ></app-film>
        <!--<mat-card>
                  <mat-card-header>
                    <mat-card-title class="filmTitle">
                      {{film.title}}
                      <mat-icon class="icon cursorPointer" (click)="editFilm(film.id)" aria-hidden="false" aria-label="Edit icon" fontIcon="edit"></mat-icon>
                      <mat-icon class="icon cursorPointer" (click)="deleteFilm(film.id)" aria-hidden="false" aria-label="Delete icon" fontIcon="delete"></mat-icon>
                    </mat-card-title>
                    <mat-card-subtitle>
                      <li>Director: {{film.director}}</li>
                      <li>Original title: {{film.original_title}}</li>
                      <li>Release Date: {{film.release_date}}</li>
                      <span class="cursorPointer" (click)="getDescription(film.id)">+ Show more</span><br>
                    </mat-card-subtitle>
                  </mat-card-header>
                  <img class="filmImage cursorPointer"  mat-card-image src="{{film.image}}">
                </mat-card>-->
      </div>
    </div>
</div>
